name: Tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test:
    name: pytest (${{ matrix.os }}, ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.10", "3.13"]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ci/environment.yml
          cache-environment: true
          cache-downloads: false
          create-args: >-
            python=${{ matrix.python-version }}

      - name: Install xoak
        run: |
          python -m pip install .

      - name: Run tests
        run: |
          python -m pytest -vv --cov=xoak --color=yes src/xoak/tests

      - name: Upload coverage report
        uses: codecov/codecov-action@v5
